<h1 class="HomePage">Let's Go Champions!!!</h1>

<div class="carousel">
    <div class="item"><img border="0" alt="kiwi" src="/public/pictures/Curry.jpg" width="600" height="400"></div>
    <div class="item"><img border="0" alt="coconut" src="/public/pictures/Harden.jpg" width="600" height="400"></div>
    <div class="item"><img border="0" alt="hazel" src="/public/pictures/Leonard.jpg" width="600" height="400"></div>
</div>
