<!-- https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_carousel&stacked=h -->

<h1 class="HomePage">Welcome to NBA Fan's Home!!!</h1>

<div class="container"> 
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <!-- https://img.bleacherreport.net/img/images/photos/003/835/536/hi-res-4ddc976740d7a2a61da89296378aa07d_crop_north.jpg?h=533&w=800&q=70&crop_x=center&crop_y=top -->
      	<div class="thumbnail">
        	<img class= "img-responsive center-block" src="/public/pictures/Curry.jpg" alt="Curry">
        </div>
      </div>

      <div class="item">
      	<!--https://i0.wp.com/www.thespax.com/wp-content/uploads/2019/01/harden-e1546376578883.jpg?fit=800%2C533&ssl=1-->
      	<div class="thumbnail">
        	<img class= "img-responsive center-block" src="/public/pictures/Harden.jpg" alt="Harden">
        </div>
      </div>
    
      <div class="item">
      	<!--https://img.bleacherreport.net/img/images/photos/003/803/446/hi-res-78eded36534f6cd903c68ea2e737ba59_crop_north.jpg?h=533&w=800&q=70&crop_x=center&crop_y=top--!>
      	<div class="thumbnail">
        	<img class= "img-responsive center-block" src="/public/pictures/Leonard.jpg" alt="Leonard">
        </div>
      </div>
    </div>
 
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<script>

$('#myCarousel').carousel({
	interval: false;
})

.carousel{
	
}

</script>