<h1 class="players">MVPS</h1>

<link rel="stylesheet" href="/public/CSS/players.css"></link>

<div style="height:200px;width:1000px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;" id="box1">
	<img class="head" src="/public/pictures/leonardpic.png" alt="Leonard">
	<br>
	<p>Kawhi Anthony Leonard (/kəˈwaɪ/, born June 29, 1991) is an American professional basketball player for the Los Angeles Clippers of the National Basketball Association (NBA). He played two seasons of college basketball for the San Diego State Aztecs and was named a consensus second-team All-American as a sophomore. Leonard opted to forgo his final two seasons at San Diego State to enter the 2011 NBA draft; accordingly, he was selected by the Indiana Pacers with the 15th overall pick before being traded to the San Antonio Spurs on draft night.

	With the Spurs, Leonard won an NBA championship in 2014, when he was named the Finals Most Valuable Player (MVP). After seven seasons with the Spurs, Leonard was traded to the Toronto Raptors in 2018. In 2019, he led the Raptors to their first NBA championship in franchise history and won his second Finals MVP award.

	Leonard is a three-time All-Star with two All-NBA First Team selections. Nicknamed the "Claw," or "Klaw," for his ball-hawking skills, he has earned five All-Defensive Team selections and won Defensive Player of the Year honors in 2015 and 2016.
	</p>
</div>
<br>

<div style="height:200px;width:1000px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;" id="box1">
	<p>
	<img class="head" src="/public/pictures/currypic.png" alt="Curry">
	<br>
	Wardell Stephen "Steph" Curry II (/ˈstɛfən/ STEF-ən; born March 14, 1988) is an American professional basketball player for the Golden State Warriors of the National Basketball Association (NBA). A six-time NBA All-Star, he has been named the NBA Most Valuable Player (MVP) twice and won three NBA championships with the Warriors. Many players and analysts have called him the greatest shooter in NBA history.[1] He is credited with revolutionizing the game of basketball by inspiring teams to regularly employ the three-point shot as part of their winning strategy.[2][3][4]

	In 2014–15, Curry won his first MVP award and led the Warriors to their first championship since 1975. The following season, he became the first player in NBA history to be elected MVP by a unanimous vote and to lead the league in scoring while shooting above 50–40–90. That same year, the Warriors broke the record for the most wins in an NBA season en route to reaching the 2016 NBA Finals, which they lost to the Cleveland Cavaliers. Curry helped the Warriors return to the NBA Finals in 2017, 2018 and 2019, and they won back-to-back titles in 2017 and 2018.
	</p>
</div>
<br>


<div style="height:200px;width:1000px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;" id="box1">
	<img class="head" src="/public/pictures/hardenpic.png" alt="Harden">
	<p>
	James Edward Harden Jr. (born August 26, 1989) is an American professional basketball player for the Houston Rockets of the National Basketball Association (NBA). He played college basketball for Arizona State, where he was named a consensus All-American and Pac-10 Player of the Year in 2009. Harden was selected with the third overall pick in the 2009 NBA draft by the Oklahoma City Thunder. In 2012, he was named NBA Sixth Man of the Year with the Thunder and helped the team reach the NBA Finals, where they lost to the Miami Heat in five games.
	</p>
	<p>
	Harden was traded to Houston before the 2012–13 NBA season. During his tenure with the Rockets, he became one of the NBA's most prolific scorers and earned recognition as the best shooting guard in the NBA,[1][2] as well as one of the top overall players in the league.[3] In 2018, Harden led the league in scoring and was named the NBA Most Valuable Player. He is a seven-time NBA All-Star, and has earned All-NBA Team honors six times, including five times to the first team.
	</p>
</div>
<br>





<div class="outLink">
	<h4>Personal Stats:</h3>
	<p>Click the link below to see their personal stats on NBA.COM</p> 
	<ul>
    	<li><a href="https://www.nba.com/players/kawhi/leonard/202695">Kawhi Leonard</a></li>
    	<li><a href="https://www.nba.com/players/stephen/curry/201939">Steph Curry</a></li>
    	<li><a href="https://www.nba.com/players/james/harden/201935">James Harden</a></li>
	</ul>
</div>




<a href="/">HomePage</a>