<!doctype html>
<html>
<head>

	<title>GO Champions!!!</title>
	

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<style>

.carousel-inner > .item > img {
	margin: 0 auto;
	width: 100%;
	height: 80%;
}
.container{
	background: transparent;
	padding: 0px;
}

.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.resources{
	background: blue;
	
}

</style>

<body>
	<div class="menu">
		<ul>
			<li><a class = active href="/">HomePage</a></li>
			<li><a href="/teams">teams</a></li>
			<li><a href="/players">players</a></li>
			<li><a href="/forecast">forecast</a></li>
		</ul>
	</div>
	
	<div id="page-wrap">	
		{{{body}}}
	</div>
</body>
</html>